<!DOCTYPE html>
<html ng-app="contratoDinamico">
<head>
	<meta charset="UTF-8">
	<title>Contrato Dinamico</title>
	<script src="lib/angular/angular.js"></script>
	<script src="script/controller.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="estilos/estilo.css">
</head>
<body ng-controller="contratoDinamicoController">
<div>
	<form name="locatarioForm">
		<input class="form-control" type="text" placeholder="Nome" ng-model="locatario.nome"/>
		<input class="form-control" type="text" placeholder="RG" ng-model="locatario.rg"/>
		<input class="form-control" type="text" placeholder="CPF" ng-model="locatario.cpf"/>
	</form>
	{{locatarios}}
</div>
<div>
	<p>
		Pelo presente instrumento particular, nesta e na melhor forma de Direito, os abaixo assinados de um lado,
	</p>
</div>

<div ng-show="contato in contatos">
	<p>
		<strong>{{locatario.nome}}</strong>, brasileiro, separado judicialmente, do comercio, residente e domiciliado nesta Capital - SP, portador da cédula de identidade RG nº {{locatario.rg}} SSP/PR, inscrito no CPF/MF n.º {{locatario.cpf}}, de ora em diante chamado simplesmente de <strong>LOCADOR</strong> e de outro lado,
	</p>
</div>

<div>
	<p>
		<strong>xxxxx</strong>, brasileiro, solteiro, empresário, portador da cédula de identidade RG nº 30.828.997-3 SSP/SP, inscrito no CPF/MF nº 293.464.128-79, residente e domiciliado na Avenida Mogi das Cruzes, nº 303 apto. 28, jardim Imperador, município de Suzano, estado de São Paulo, fone: 4640-4069 e 98766-2076 tim, de ora em diante chamado simplesmente de <strong>LOCATÁRIO</strong>.
	</p>
</div>

<div>
	<p>
		<strong>Cláusula Primeira</strong>: O locador loca ao locatário um imóvel sem infiltrações, sem vazamento e sem entupimentos designado por um apartamento com três dormitórios, (sendo um dormitório suíte), uma sala com dois ambientes, uma cozinha, sacada gourmet e dois banheiros, área de serviço, vaga para auto, instalações hidráulicas e elétricas em perfeitas condições de uso e funcionamento, situada na <strong>Rua Nove de Julho, nº 1.277, apartamento 61, Edifício Lamara Life Time Home, Jardim Santa Helena, município de Suzano, estado de São Paulo, cep: 08674-230</strong>, com uso e finalidade, para fins exclusivos residenciais, cadastrado na bandeirante instalação nº 150717494.
	</p>
</div>
<div>
	<p>
		<strong>Cláusula Segunda</strong>: O prazo de locação é de <strong>30(trinta)</strong> meses, tendo o seu <strong>início em 30(trinta) de janeiro de 2.015; término em 29(vinte e nove) de julho de 2.017</strong>.
	</p>
</div>
</body>
</html>